.navbar-search{
  max-width: 600px;
  width: 100%;
}
.navbar-search .form-group{
  width: 100%;
}
.navbar-search .form-group .input-group{
  width: 100%;
  border-radius: .25rem;
}
.logo{
  font-weight: 600;
  color: var(--white);
  margin-right: 10px;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-x{
  overflow-x: scroll;
}
.overflow-y{
  overflow-y: scroll;
}
.overflow{
  overflow: scroll;
}
.overflow::-webkit-scrollbar, .overflow-x::-webkit-scrollbar, .overflow-y::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.overflow::-webkit-scrollbar-track, .overflow-x::-webkit-scrollbar-track, .overflow-y::-webkit-scrollbar-track {
  background: transparent; 
}
.overflow::-webkit-scrollbar-thumb, .overflow-x::-webkit-scrollbar-thumb, .overflow-y::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}
.overflow::-webkit-scrollbar-thumb:hover,.overflow-x::-webkit-scrollbar-thumb:hover,.overflow-y::-webkit-scrollbar-thumb:hover {
  background: #777; 
}
.cursor-pointer{
  cursor: pointer;
}
.no-sc::-webkit-scrollbar{
  height: 0;
  width: 0;
}

/* Product */
.product-card {
    padding: 25px 20px;
    width: 190px;
    display: inline-block;
    cursor: pointer;
  }
  .product-card .product-image {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .product-card .product-description {
    font-size: 14px;
    padding-top: 15px;
  }
  .product-card .product-description .product-name {
    display: -webkit-box;
    color: var(--darker);
    font-weight: 600;
    font-size: 13px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 6px;
  }
  .product-card .product-description .product-rating{
    color: var(--light);
  }
  .product-card .product-description .product-price {
    margin-top: 5px;
  }
  .product-card .product-description .product-price .product-selling-price {
    color: var(--darker);
    font-size: 16px;
    font-weight: 600;
  }
  .product-card .product-description .product-price .product-not-price {
    color: var(--light);
    margin-left: 10px;
    position: relative;
  }
  .product-card .product-description .product-price .product-not-price::after {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--light);
  }
  .product-card .product-description .product-price .product-offer {
    color: var(--success);
    font-weight: 600;
  }
  .card .card-header .card-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
  }
  .card .card-header .card-subtitle {
    font-size: 14px;
    color: var(--light);
  }
  
/* Footer */
.footer {
    padding-bottom: 0 !important;
    background-color: var(--lighter);
  }
  .footer .footer-container {
    padding: 40px 20px 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: top;
    position: relative;
  }
  .footer .footer-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: #999;
    z-index: 1;
  }
  .footer .footer-container .links .link-heading {
    margin-bottom: 10px;
    color: var(--dark);
    font-size: 12px;
    font-weight: 600;
  }
  .footer .footer-container .links .link {
    font-size: 12px;
    line-height: 2;
    color: var(--footer-text);
    font-weight: 600;
    cursor: pointer;
  }
  .footer-bottom {
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: var(--darker);
    font-weight: 600;
}



/* Product Page */
.product{
  position: relative;
}
.product .product-image{
  width: 100%;
  padding-top: 75%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: .5rem;
}
.product .small-product-image{
  width: 78px;
  height: 58px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
.product .small-product-image.active{
  border: 1px solid var(--primary);
}

/* widht >= 768px */
@media(min-width: 768px){
  .product .row{
    position: relative;
  }
  .product .product-left-container{
    height: fit-content;
    position: sticky;
    top: 6.5rem;
    left: 0;
  }
}

/* widht < 768px */
@media(max-width: 768px){
  .product .product-left-container{
    margin-bottom: 1rem;
  }
  .below-md-fixed{
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .below-md-fixed .col{
    padding: 0;
    margin: 0;
  }
  .below-md-fixed .col .btn{
    border-radius: 0;
  }
}